@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-50 dark:bg-neutral-600;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-up {
  0% {
    transform: translateY(100%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@layer utilities {
  .animate-slide-in-right {
    animation: slide-in-right 1.5s ease-out;
    animation-iteration-count: 1;
  }

  .animate-slide-in-left {
    animation: slide-in-left 1.5s ease-out;
    animation-iteration-count: 1;
  }

  .animate-slide-in-down {
    animation: slide-in-down 1.5s ease-out;
    animation-iteration-count: 1;
  }

  .animate-slide-in-up {
    animation: slide-in-up 2s ease-out;
    animation-iteration-count: 1;
  }

  .animate-grow {
    animation-name: grow;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }
}
